# Created by .ignore support plugin (hsz.mobi)
.idea
*.iml
target
hs_err_pid16168.log
LICENSE
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
logs/slife.log
logs/slife.log.1

/slife-web/src/main/resources/application.yml
