<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slife.mapper.ActGePropertyMapper">
  <resultMap id="BaseResultMap" type="com.slife.model.ActGeProperty">
    <id column="NAME_" jdbcType="VARCHAR" property="name" />
    <result column="VALUE_" jdbcType="VARCHAR" property="value" />
    <result column="REV_" jdbcType="INTEGER" property="rev" />
  </resultMap>
  <sql id="Base_Column_List">
    NAME_, VALUE_, REV_
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_ge_property
    where NAME_ = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from act_ge_property
    where NAME_ = #{name,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.slife.model.ActGePropertyExample">
    delete from act_ge_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.slife.model.ActGeProperty">
    <selectKey keyProperty="name" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into act_ge_property (VALUE_, REV_)
    values (#{value,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.slife.model.ActGeProperty">
    <selectKey keyProperty="name" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into act_ge_property
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="value != null">
        VALUE_,
      </if>
      <if test="rev != null">
        REV_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="rev != null">
        #{rev,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.slife.model.ActGePropertyExample" resultType="java.lang.Long">
    select count(*) from act_ge_property
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update act_ge_property
    <set>
      <if test="record.name != null">
        NAME_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null">
        VALUE_ = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.rev != null">
        REV_ = #{record.rev,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update act_ge_property
    set NAME_ = #{record.name,jdbcType=VARCHAR},
      VALUE_ = #{record.value,jdbcType=VARCHAR},
      REV_ = #{record.rev,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.slife.model.ActGeProperty">
    update act_ge_property
    <set>
      <if test="value != null">
        VALUE_ = #{value,jdbcType=VARCHAR},
      </if>
      <if test="rev != null">
        REV_ = #{rev,jdbcType=INTEGER},
      </if>
    </set>
    where NAME_ = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.slife.model.ActGeProperty">
    update act_ge_property
    set VALUE_ = #{value,jdbcType=VARCHAR},
      REV_ = #{rev,jdbcType=INTEGER}
    where NAME_ = #{name,jdbcType=VARCHAR}
  </update>
</mapper>