<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slife.dao.FollowDao">
    <resultMap id="BaseResultMap" type="com.slife.entity.Follow">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="shop_id" jdbcType="BIGINT" property="shopId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="follow_time" jdbcType="TIMESTAMP" property="followTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, shop_id, user_id, follow_time, status, create_date, update_date
  </sql>
    <select id="selectByUserId" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from digcoo_anas_follow
        where user_id = #{userId,jdbcType=BIGINT}
        <if test="status!=nul and status>0">
            and status=#{status,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectByUserIdAndShopId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from digcoo_anas_follow
        where user_id = #{userId,jdbcType=BIGINT} and shop_id = #{shopId} LIMIT 1

    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from digcoo_anas_follow
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from digcoo_anas_follow
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.slife.entity.Follow">
    insert into digcoo_anas_follow (id, shop_id, user_id, 
      follow_time, status, create_date, 
      update_date)
    values (#{id,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{followTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, now(),
      now())
  </insert>
    <insert id="insertSelective" parameterType="com.slife.entity.Follow">
        insert into digcoo_anas_follow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="followTime != null">
                follow_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="followTime != null">
                #{followTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.slife.entity.Follow">
        update digcoo_anas_follow
        <set>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="followTime != null">
                follow_time = #{followTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.slife.entity.Follow">
    update digcoo_anas_follow
    set shop_id = #{shopId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      follow_time = #{followTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      update_date = now()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>