<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slife.mapper.DigcooAnasShopMapper">
  <resultMap id="BaseResultMap" type="com.slife.model.DigcooAnasShop">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="open_mobile" jdbcType="TINYINT" property="openMobile" />
    <result column="bisiness_id" jdbcType="BIGINT" property="bisinessId" />
    <result column="lat" jdbcType="DOUBLE" property="lat" />
    <result column="lng" jdbcType="DOUBLE" property="lng" />
    <result column="follow_num" jdbcType="INTEGER" property="followNum" />
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="agent_identify_card" jdbcType="VARCHAR" property="agentIdentifyCard" />
    <result column="agent_position" jdbcType="VARCHAR" property="agentPosition" />
    <result column="agent_portrait" jdbcType="VARCHAR" property="agentPortrait" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_updated" jdbcType="TIMESTAMP" property="gmtUpdated" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, name, picture, tel, addr, open_mobile, bisiness_id, lat, lng, follow_num, 
    business_license, agent_identify_card, agent_position, agent_portrait, status, gmt_created, 
    gmt_updated
  </sql>
  <insert id="insert" parameterType="com.slife.model.DigcooAnasShop">
    insert into digcoo_anas_shop (user_id, name, picture, 
      tel, addr, open_mobile, 
      bisiness_id, lat, lng, 
      follow_num, business_license, agent_identify_card, 
      agent_position, agent_portrait, status, 
      gmt_created, gmt_updated)
    values (#{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, #{openMobile,jdbcType=TINYINT}, 
      #{bisinessId,jdbcType=BIGINT}, #{lat,jdbcType=DOUBLE}, #{lng,jdbcType=DOUBLE}, 
      #{followNum,jdbcType=INTEGER}, #{businessLicense,jdbcType=VARCHAR}, #{agentIdentifyCard,jdbcType=VARCHAR}, 
      #{agentPosition,jdbcType=VARCHAR}, #{agentPortrait,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtUpdated,jdbcType=TIMESTAMP})
  </insert>
</mapper>