<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slife.mapper.DigcooAnasShopAdSpreadMapper">
  <resultMap id="BaseResultMap" type="com.slife.model.entity.DigcooAnasShopAdSpread">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ad_id" jdbcType="BIGINT" property="adId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_updated" jdbcType="TIMESTAMP" property="gmtUpdated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ad_id, type, gmt_created, gmt_updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from digcoo_anas_shop_ad_spread
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from digcoo_anas_shop_ad_spread
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.slife.model.entity.DigcooAnasShopAdSpread">
    insert into digcoo_anas_shop_ad_spread (id, ad_id, type, 
      gmt_created, gmt_updated)
    values (#{id,jdbcType=BIGINT}, #{adId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtUpdated,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.slife.model.entity.DigcooAnasShopAdSpread">
    update digcoo_anas_shop_ad_spread
    <set>
      <if test="adId != null">
        ad_id = #{adId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null">
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdated != null">
        gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.slife.model.entity.DigcooAnasShopAdSpread">
    update digcoo_anas_shop_ad_spread
    set ad_id = #{adId,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>