<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slife.mapper.DigcooAnasUserMapper">
  <resultMap id="BaseResultMap" type="com.slife.model.DigcooAnasUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="wx_head_img" jdbcType="VARCHAR" property="wxHeadImg" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="nick" jdbcType="VARCHAR" property="nick" />
    <result column="wx_nick" jdbcType="VARCHAR" property="wxNick" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="follow_time" jdbcType="TIMESTAMP" property="followTime" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="qr_ticket" jdbcType="VARCHAR" property="qrTicket" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_updated" jdbcType="TIMESTAMP" property="gmtUpdated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, wx_head_img,head_img, sex, mobile, nick, wx_nick, country, province, follow_time,
    city, qr_ticket, gmt_created, gmt_updated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from digcoo_anas_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from digcoo_anas_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.slife.model.DigcooAnasUser">
    insert into digcoo_anas_user (id, open_id, head_img, wx_head_img,
      sex, mobile, nick, 
      wx_nick, country, province, 
      follow_time, city, qr_ticket, 
      gmt_created, gmt_updated)
    values (#{id,jdbcType=BIGINT}, #{openId,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR},#{wxHeadImg,jdbcType=VARCHAR}
      #{sex,jdbcType=INTEGER}, #{mobile,jdbcType=VARCHAR}, #{nick,jdbcType=VARCHAR}, 
      #{wxNick,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{followTime,jdbcType=TIMESTAMP}, #{city,jdbcType=VARCHAR}, #{qrTicket,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtUpdated,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.slife.model.DigcooAnasUser">
    update digcoo_anas_user
    set open_id = #{openId,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      wx_head_img = #{wxHeadImg,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      wx_nick = #{wxNick,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      follow_time = #{followTime,jdbcType=TIMESTAMP},
      city = #{city,jdbcType=VARCHAR},
      qr_ticket = #{qrTicket,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_updated = #{gmtUpdated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>