<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slife.mapper.SysCompanyMapper">
  <resultMap id="BaseResultMap" type="com.slife.model.SysCompany">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="area_id" jdbcType="VARCHAR" property="areaId" />
    <result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
    <result column="master" jdbcType="VARCHAR" property="master" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="copyright" jdbcType="VARCHAR" property="copyright" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_id, update_id, create_date, update_date, remark, del_flag, address, area_id, 
    zip_code, master, phone, fax, email, copyright, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_company
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_company
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.slife.model.SysCompany">
    insert into sys_company (id, create_id, update_id, 
      create_date, update_date, remark, 
      del_flag, address, area_id, 
      zip_code, master, phone, 
      fax, email, copyright, 
      name)
    values (#{id,jdbcType=BIGINT}, #{createId,jdbcType=BIGINT}, #{updateId,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=CHAR}, #{address,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, 
      #{zipCode,jdbcType=VARCHAR}, #{master,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{copyright,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.slife.model.SysCompany">
    update sys_company
    set create_id = #{createId,jdbcType=BIGINT},
      update_id = #{updateId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      address = #{address,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      master = #{master,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      copyright = #{copyright,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>