<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slife.mapper.SysUserSysRoleMapper">
  <resultMap id="BaseResultMap" type="com.slife.model.SysUserSysRoleKey">
    <id column="sys_user_id" jdbcType="BIGINT" property="sysUserId" />
    <id column="sys_role_id" jdbcType="BIGINT" property="sysRoleId" />
  </resultMap>
  <sql id="Base_Column_List">
    sys_user_id, sys_role_id
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="com.slife.model.SysUserSysRoleKey">
    delete from sys_user_sys_role
    where sys_user_id = #{sysUserId,jdbcType=BIGINT}
      and sys_role_id = #{sysRoleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.slife.model.SysUserSysRoleKey">
    <selectKey keyProperty="sysUserId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_user_sys_role (sys_role_id)
    values (#{sysRoleId,jdbcType=BIGINT})
  </insert>
</mapper>