<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slife.mapper.SysUserSysOfficeMapper">
  <resultMap id="BaseResultMap" type="com.slife.model.SysUserSysOffice">
    <id column="sys_user_id" jdbcType="BIGINT" property="sysUserId" />
    <id column="sys_office_id" jdbcType="BIGINT" property="sysOfficeId" />
    <result column="major" jdbcType="CHAR" property="major" />
  </resultMap>
  <sql id="Base_Column_List">
    sys_user_id, sys_office_id, major
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.slife.model.SysUserSysOfficeKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user_sys_office
    where sys_user_id = #{sysUserId,jdbcType=BIGINT}
      and sys_office_id = #{sysOfficeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.slife.model.SysUserSysOfficeKey">
    delete from sys_user_sys_office
    where sys_user_id = #{sysUserId,jdbcType=BIGINT}
      and sys_office_id = #{sysOfficeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.slife.model.SysUserSysOffice">
    <selectKey keyProperty="sysUserId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_user_sys_office (sys_office_id, major)
    values (#{sysOfficeId,jdbcType=BIGINT}, #{major,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.slife.model.SysUserSysOffice">
    update sys_user_sys_office
    set major = #{major,jdbcType=CHAR}
    where sys_user_id = #{sysUserId,jdbcType=BIGINT}
      and sys_office_id = #{sysOfficeId,jdbcType=BIGINT}
  </update>
</mapper>